{% extends('base.html.twig') %}

{% block title %}
	<title>Listado de usuarios</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex flex-wrap flex-row justify-content-between align-items-center mt-3">
			<h1>Lista de usuarios</h1>
			<a href="{{ path('createUser') }}" class="btn btn-success d-block w-25">Crear usuario</a>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Correo electrónico</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.name }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.email }}</td>
						<td>
							{% if user.status %}
								<span class="badge text-bg-success">Activo</span>
							{% else %}
								<span class="badge text-bg-danger">Inactivo</span>
							{% endif %}
						</td>
						<td>
							<div class="d-flex flex-row flex-wrap justify-content-center align-items-center gap-3">
								{% if user.status %}
								<a href="{{ path('updateUser', {'id': user.id}) }}" class="btn btn-warning">Actualizar</a>
								<a href="{{ path('toggleStatusUser', {'id': user.id}) }}" class="btn btn-danger">Eliminar</a>
								{% else %}
								<a href="{{ path('toggleStatusUser', {'id': user.id}) }}" class="btn btn-success">Activar</a>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

